* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.Brand_Shop {
    display: flex;
}

.same_brand_shop {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    padding: 0px 10px 10px 10px;
    color: #2B3445;
}

.logo_line {
    font-size: 20px;
    font-weight: 600;
    color: #DAE1E7;
    padding-left: 15px;
}

.CardBox_div {
    width: 20%;
    margin-top: 54px;
    box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
    height: 100%;
    border-radius: 10px;
    padding: 1.25rem;
    background-color: white;
}

.BoxCard_display {
    background-color: rgb(43, 52, 69);
    display: flex;
    gap: 1rem;
    box-shadow: rgba(43, 52, 69, 0.1) 0px 4px 16px;
    cursor: pointer;
    padding: 0.75rem 1rem;
    background-color: #F6F9FC;
    margin-bottom: 0.75rem;

}

.BoxCard_img {
    width: 30px;
}

.brand_display {
    text-align: center;
    padding: 0.75rem 1rem;
    background-color: #F6F9FC;
    margin-bottom: 0.75rem;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 64px;
    height: 44px;
}

@media only screen and (max-width: 1279px) {
    .same_brand_shop {
        padding: 0 0 10px 0;
    }
}

@media only screen and (max-width: 959px) {
    .CardBox_div {
        display: none;
    }
}