* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.main_blue_div {
    margin-bottom: 20px;
    font-size: 12px;
    height: 40px;
    color: #fff;
    background: #2B3445;
    width: 100%;
}

.blue_div {
    max-width: 1284px;
    margin: auto;
    display: flex;
    text-align: center;
    padding: 9px 25px 0px;
}

.hot_btn {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    max-width: 100%;
    font-size: 0.8125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    vertical-align: middle;
    border-radius: 16px;
    color: white;
    font-weight: 700;
    background-color: #D23F57;
}


.upper_span {
    display: flex;
    gap: 8px;
    width: 100%;
}

.free_div {
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
    word-spacing: 1px;
    font-family: monospace;
}

.icons {
    display: flex;
}

.DE_button {
    margin-right: 1.25rem;
    font-weight: 600;
}

.three_icons {
    gap: 12px;
    display: flex;
    font-size: 17px;
}

.media_button{
    display: none;
}

@media only screen and (max-width: 599px) {
    .main_blue_div{
        margin-bottom: 10px;
    }

    .icons{
        display: none;
    }

    .media_button{
        display: block;
        font-size: 20px;
    }
}