* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.main_blue_div {
    margin-bottom: 20px;
    font-size: 12px;
    height: 40px;
    color: #fff;
    background: #2B3445;
    margin-left: auto;
    margin-right: auto;
}

.blue_div {
    display: flex;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    padding-top: 8px;
    margin-left: 8px;
    
}

.hot_btn {
    max-width: 1280px;
    color: white;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-weight: 700;
    background-color: #D23F57;
    height: 24px;
    display: inline-flex;
    /* text-align: center; */
    font-size: 12px;
    border-radius: 16px;
    padding-top: 1px;
}

.upper_span {
    display: flex;
    gap: 8px;
    width: 100%;
}

.free_div{
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
    word-spacing: 1px;
    font-family:monospace;
}

.icons{
display: flex;
}

.DE_button{
    margin-right: 1.25rem;
    font-weight: 600;
}

.three_icons{
    gap: 12px;
    display: flex;
    font-size: 16px;
}