* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.container {
    max-height: 360px;
    overflow-y: auto;
}


.main_div {
    margin-bottom: 14px;
    z-index: 3;
    position: relative;
    display: flex;
    padding: 0px 3px 0px 13px;
}

input {
    width: 70%;
}

.Search_input {
    height: 40px;
    position: relative;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1200px;
    border: 1px solid rgb(193, 189, 189);
    color: rgb(194, 187, 187);
    display: flex;
    overflow: hidden;
}

.search {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 14px;
}

.allCategories {
    left: 68%;
    position: fixed;
    text-align: start;
    top: 100px;
    border: 1px solid rgb(219, 218, 218);
    color: black;
    padding: 10px 30px 0px 0px;
    background-color: rgb(253, 255, 255);
    font-size: larger;
    cursor: pointer;
}

.All_categories {
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    background-color: #F6F9FC;
    color: black;
    width: 25%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.two_icon {
    margin: 0px 19px;
    display: flex;
    font-size: 20px;

}

.search_btn_one {
    background-color: #F6F9FC;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.search_btn_two {
    margin: 0px 5px;
    background-color: #F6F9FC;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bazar_img {
    margin-right: 11%;
    width: 92px;
    margin-left: 19px;
}

.bazar_img2 {
    display: none;
}

.show_navbar {
    box-shadow: 10px 14px 55px rgb(202, 201, 201);
    transition: 1s linear;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 4;
    height: 100%;
    width: 100% !important;
    background-color: rgb(255, 255, 255);
    height: 80px;
    margin: 0;
    left: 0;
}

.hide_navbar {
    background-color: transparent;
    top: -80px
}

.search_button_main {
    display: flex;
}

.icon_counts {
    position: absolute;
    top: 10px;
    right: 65px;
    background-color: #f34a4a;
    border-radius: 50%;
    font-size: x-small;
    height: 17px;
    width: 20px;
    font-size: 12px;
    height: 17px;
    font-weight: 700;
}

.media_icon {
    display: none;
}

@media only screen and (max-width: 1149px) {
    .bazar_img {
        display: none;
    }

    .bazar_img2 {
        display: block;
        padding-left: 70px;
        width: 117px;
    }

    .media_icon {
        padding-left: 23px;
        align-items: center;
        display: flex;
        font-size: 1.5rem;
    }

    .Search_input {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .bazar_img2{
        padding-left: 38px;
    }

    .media_icon{
        padding-left: 0;
    }
}