* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

h3 {
    font-size: 19px;
    margin-left: 15px;
}

p {
    margin-left: 15px;
    color: rgb(83, 77, 77);
}

.main_data_div_data {
    margin-top: 10px;
    width: 39%;
    margin-left: 65px;
    font-size: 15px;
}

.all {
    width: 40%;
}

.Categories {
    width: 278px;
    padding: 8px 0px 8px 10px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(241, 242, 242);
    cursor: pointer;
    display: flex;
}

.display_flex_one {
    z-index: 2;
    position: absolute;
    width: 90%;
    padding: 8px 0px 8px 5px;
    display: flex;
    cursor: pointer;
}

.categories_Child {
    padding: 2px 0px 8px 5px;
    box-shadow: 2px 2px 10px 2px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 270px;
    cursor: pointer;
}

.category_child {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 16px rgba(43, 52, 69, 0.1);
    border-radius: 8px;
    margin-left: 1rem;
}

.categories_child1 {
    display: block;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 16px rgba(43, 52, 69, 0.1);
    border-radius: 8px;
    margin-left: 1rem;
    padding-top: 1px;
}

p {
    padding: 10px 0px
}

.item_div {
    width: 25%;

}

.Names_div {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    min-width: 180px;
}

.item_name_div {
    min-width: 180px;
}

.main_item_div {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
}

.right_data_div {
    align-items: center;
    display: flex;
    gap: 32px;
}

.Categories_icon {
    color: #b3abab;
    margin-right: 14px;
    margin-left: -10px;
}

.category_img {
    height: 150px;
    width: 100%;
    position: relative;
    margin-top: 23px;
}

.category_img1 {
    margin-top: 23px;
    padding-right: 12px;
}

.category_img_class {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 1200px) and (min-width: 1150px) {
    .main_data_div_data {
        width: 32%;
        margin-left: 38px;
    }
}

@media only screen and (max-width: 1282px) and (min-width: 1201px) {
    .main_data_div_data {
        width: 36%;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1149px) {
    .main_data_div_data {
        display: none;
    }
}